/**
*
* Tackle software
* 2010 Ilshad Khabibullin <astoon@spacta.com>
*
**/

/* zrt-replace: "../images/" tal"string:${context/@@/tackle_images}/" */
/* zrt-replace: "base.css" tal"string:${context/@@/base.css}/" */

/* zrt-replace: "main-font-color" "#333333" */
/* zrt-replace: "main-border-color" "#777777" */

/* zrt-replace: "distinct-background-color" "#bfbfbf" */ /*"#e2e2e2" */
/* zrt-replace: "distinct-foreground-color" "#777777" */

/* zrt-replace: "link-color" "#37506e" */
/* zrt-replace: "link-hover-color" "#9F895E" */

/* zrt-replace: "title-color" "#4E5E86" */
/* zrt-replace: "subtitle-color" "#8d4b00" */

/* zrt-replace: "x-color" "#3E6257" */
/* zrt-replace: "y-color" "#4E5E86" */

/* zrt-replace: "header-background-color" "#ffffff" */

@import "base.css";

body {
    background-color: #fff;
    color: main-font-color;
}
table {
    border-color: main-border-color;
}
th {
    color: main-font-color;
}
a {
    color: link-color;
}
a:hover {
    color: link-hover-color;
}
h1 {
    color: title-color;
}
h2 {
    color: subtitle-color;
}
fieldset {
    border-color: distinct-foreground-color;
}
legend {
    color: main-font-color;
}
fieldset.distinct {
    background-color: distinct-background-color;
    color:main-font-color;
}
option {
    border-bottom-color: #d7d7d7;
}
input[type=text], input[type=password], textarea, select {
    border-color: main-border-color;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus, select {
    border-color: distinct-foreground-color;
}
.status {
    color: red;
}
.distinct {
    color: distinct-foreground-color;
}
#header {
    background-color:header-background-color;
}
#header h1 a {
    border-bottom-color: header-background-color;
    color: title-color;
}
#header h1 a:hover {
    border-bottom-color: link-hover-color;
}
#appmenu a {
    border-left: 1px solid link-color;
    border-top: 1px solid link-color;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
#appmenu a:hover {
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-right: 1px solid link-color;
    border-bottom: 1px solid link-color;
}
#personalbar {
    background-color: y-color;
}
#personalbar span {
    color: distinct-background-color;
}
#personalbar a {
    color: #fff;
}
#personalbar a:hover {
    color: link-hover-color;
}
#settings .queries .query {
    background-color: distinct-background-color;
    border-color: distinct-foreground-color;
    color: distinct-background-color;
}
.queries .query h4 {
    color: main-font-color;
}
pre {
  border-color: main-border-color;
  background-color: #ccc;
  color: #000;
}
.description {
    color: brown;
}
.highlighted {
    background-color: #FFFCB9;
}
.nested_menu {
    padding: 3px;
    border: 1px solid #bbb;
    background-color: #eee;
}
